#loading {
    animation: rotation 0.5s infinite linear;
    
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

.load{
    display: block;
    width: 80px; 
    padding-bottom: 30px;
    padding-top: -80px;
    margin: auto;
}